* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection{
	background: red;
  color: white;
}

a{
  font-family: 'Chivo', sans-serif;
  color: black;
}

.smallP{
  font-size: .75em;
  font-family: 'Chivo', sans-serif;
  line-height: 1.5em;
  margin-bottom: 2em;
  color: grey;
}

p{
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

h1{
  font-size: 1.5em;
  line-height: 1em;
  font-family: 'Chivo', sans-serif;
  margin-bottom: 1em;
}

h2{

  font-family: 'Cardo', serif;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.button {
  display: flex;
  margin-top: .25em;
	height: 3em;
	width: 15em;
	background: red;
  color: white;
  align-items: center;
	font-family: 'Chivo', sans-serif;
  font-size: 1em;
  border-radius: 5px;
  margin-right: .5em;
  margin-bottom: 2em;


  a{
    margin: 0 auto;
    color: white;
    text-decoration: none;
  }
}

a.button {
	text-decoration: none;
}

.container{
  display: flex;
  flex-direction: column;
}

.box{
  padding: 1.75em;
}

.topBoxLeft{
  width: 100vw;
  height: 50vh;
  background:url('../img/vivienda1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    h1{
      color:white;
      font-size: 3em;
      font-weight: 900;
    }
}

.topBoxRight{
  display: flex;
  width: 100vw;
  height: 100vh;
  // background-color: white;
  flex-wrap: wrap;

}

.imageProto{
  width: 100%;
  height: 50%;
  background: grey;
  margin-bottom: 2em;
  text-align: center;
    p{
      margin-top: 30%;
      color: white;
      font-family: 'Chivo',sans-serif;
    }
}

.uno{
  background:url('../img/imagenVIDA.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dos{
  background:url('../img/imagenPalomar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner{
  background: red;
  color: white;
  font-size: .25em;
  width: 100vw;
  height: 3.5em;
  padding: .25em;
  text-align: center;
  font-family: 'Chivo', sans-serif;
}


@media (min-width: 600px) {

  .banner{
    font-size: .75em;
    height: 2em;
    position: fixed;

  }

  h1{font-size: 3em; }

  h2{font-size: 1.25em; }

  .button {margin-top: 1.25em;margin-bottom: 5em;}

  .container{flex-direction: row;}

  .box{padding: 3em;}

  .topBoxLeft{
    width: 50vw;
    height: 100vh;
      h1{font-size: 5em;}
  }

  .topBoxRight{height: 100vh;  overflow: auto; }

  .imageProto{
    p{margin-top: 15%;}
  }
}
